
/* ==========================================================================
   Base styles
   ========================================================================== */

* {
    box-sizing: border-box;
}
.outerwrapper {
    max-width: 1024px;
    margin: 10px auto 10px auto;
    padding: 10px;
}

.content{

}

a{
    text-decoration: none;
    color: #5CC5EF;
}

html,
body {
    font-family: 'Cantarell', 'Droid Serif', sans-serif;
    color: #F8F5F2;
    background-color: black;
    line-height: 1.6em;
    font-size: 1.1em;
    font-style: normal;
    width: 98%;
    margin-left: 5px;
    text-align: center;
}

section.box{
    -moz-box-shadow:     0 0 10px #2196F3;
    -webkit-box-shadow:  0 0 10px #2196F3;
    box-shadow:          0 0 10px #2196F3;
}

/*
 * Remove text-shadow in selection highlight:
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #FFCB47;
    text-shadow: none;
}

::selection {
    background: #FFCB47;
    text-shadow: none;
}

p{
    text-indent: 40px;
    padding: 0 5px 5px 5px;
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
}

h4.titleCaption {
    font-family: 'Cantarell', sans-serif;
    font-size: 1em;
    color: dodgerblue;
    text-decoration:  overline;
    border: 2px solid blue;
    text-align: center;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2em auto 2em auto;
    padding: 2px;
}


/*
 * Remove the gap between audio, canvas, iframes,
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ================
    Headings
    ============== */
h1.pageTitle {
    font-family: 'Rubik', serif;
    font-size: 3.5em;
    color: #FFF;
    text-align: center;
    line-height: 1.1em;
    border: 1px solid blue;

}

nav {
    width: 100%;
    height: 40px;
    padding-top: 54px;
    text-align: center;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #5CC5EF;
    display: inline-block;
    margin-top: 5px;
    padding: 5px 15px 5px 15px;
    font-family:  Cantarell, sans-serif;
    font-weight: lighter;
    font-size: 1.4em;
    border-bottom: 2px solid #F8F5F2;
}
nav a:hover {
    color: #F8F5F2;
    text-decoration: underline #3A5199;
}

nav.footer {
    width: 98%;
    height: 40px;
    padding-top: 18px;
    vertical-align: middle;
    text-align: center;
    margin-right: -148px;
    margin-top: -34px;
}

img.blogThumb{
    float: left;
    height: 150px;
    width: 150px;
    padding: 4px;
    margin: 20px 2px 0px -5px;
    border-radius: 90%;
    border: 2px #100E17 solid;
    -moz-box-shadow:     0 0 10px #D5D6D2 ;
    -webkit-box-shadow:  0 0 10px #D5D6D2;
    box-shadow:          0 0 10px #D5D6D2;
}

h1.blog{
    margin: 15px 0 5px 166px;
    line-height: 1.25em;
    text-align: left;
    color: #D5D6D2;
    text-shadow: 1px 1px 2px #1C1C1C;
}


h3.blog{
    margin: 24px 0 5px 176px;
    color: #FFB745;
    text-align: left;
    text-shadow: #1C1C1C;


}

p.blog {
    margin-left: 166px;
    text-indent: 0;

}
p.centered{
    text-align: right;
    margin-bottom: 2px;
    margin-top: 1px;
}

.active {
    color: #F8F5F2;

}


.header {
    height: 68px;
    margin: 0 5px 35px 0;
    padding-bottom: 40px;

}

.card {
    min-width: 300px;
    min-height: 350px;
    padding: 1.1rem;
    border-radius: 16px;
    background: #17141d;
    width: 92%;
    margin: 20px auto 5px auto;
}

.topics {
    text-align: center;
    display: inline-block;
    height: 184px;
    margin-top: 90px;
    width: 100%;
    font-family: Cantarell, sans-serif;


}

.topicCard {
    height: 184px;
    border-radius: 16px;
    width: 18%;
    background: #3A5199;
    display: inline-block;
    padding: 15px;
    margin: 4px;
}

h1.topic{
    text-align: center;
    font-size: 2.5em;
}

.bloodOrange {
    background-color: #E7552C;
}
.blueBlack {
    background-color: #E80000 ;
}
.yellow {
    background-color: goldenrod;
}


.borderRight {
    border-right: 2px solid #D5D6D2;
}

.borderLeft {
    border-left: 2px solid #D5D6D2;
}

.me-image{
    border-radius: 6%;
    float: right;
    display: inline;
    height: 244px;
    width: 244px;
    margin-right: 48px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -moz-box-shadow:     0 0 10px #D5D6D2 ;
    -webkit-box-shadow:  0 0 10px #D5D6D2;
    box-shadow:          0 0 10px #D5D6D2;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2em auto 2em 158px;
    padding: 2px;
    width: 80%;
}

/* Style all font awesome icons */


.social {
    width: 100%;
    padding: 15px 48px 0 48px;
    vertical-align: middle;
    text-align: center;
    margin-left: 8px;
}

/* Fab Icons*/
.fab {
    padding: 18px;
    font-size: 48px;
    text-align: center;
    width: 94px;
    text-decoration: none;
    margin-left: 5px;
}

.fasScroll {
    font-size: 14px;
    width: 194px;
}
.fas{
    font-size: 84px;
    margin-top: 2px;
}

.fab:hover {
    opacity: 0.7;
}

.topicCard:hover{
    opacity: 0.7;

}


nav.footer{
    text-align: center;
    padding: 72px;
}


.fa-twitter {
    background: #55ACEE;
    color: white;

}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}






























/*Media Queries*/
/* Extra small devices iPhone5 / SE  */
@media only screen and (min-width: 320px) {

    nav {
        height: 40px;
        padding-top: 54px;
        text-align: center;
    }

    nav a {
        text-decoration: none;
        color: #5CC5EF;
        display: inline-block;
        margin-top: 5px;
        font-family:  Cantarell, sans-serif;
        font-weight: lighter;
        border-bottom: 2px solid #F8F5F2;
    }
    nav a:hover {
        color: #F8F5F2;
        text-decoration: underline #3A5199;
    }
}

/* Extra small devices Galaxy S5/ iPhone X - 8 Plus (414)*/
@media only screen and (min-width: 360px) {

}

/* Extra small devices Galaxy S5/ iPhone X*/
@media only screen and (min-width: 414px) {

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



