/* Font Family
    Header Font Lora
    Body Font Monsterrat
 */

/* RGB
$color1: rgba(185, 216, 194, 1); #B9D8C2 teal
$color2: rgba(154, 194, 201, 1); #9AC2C9 blue
$color3: rgba(138, 161, 177, 1); #8AA1B1 Grey
$color4: rgba(74, 80, 67, 1); #4A5043 Green
$color5: rgba(255, 203, 71, 1); #FFCB47 Yellow
*/
/* Pseudo-classes ------------------ */

p {
    font-family: "Cantarell", sans-serif;
    text-indent: 30px;


}


a:link, a:visited{
    color: #2196F3;
    padding: 1px 4px;
    text-decoration: none;
}


a:hover {
    color:  #8AA1B1;
    text-decoration: underline;
}

a:active {
    color: #8AA1B1;
    text-decoration: underline;
}

a.current:link {
    color: white;
    text-decoration: underline;
}


nav
{
    padding: 5px;
    display: block;
    text-align: right;
    height: 15px;
    vertical-align: top;
}

.preNav {
    text-align: right;
    display: block;
    height: 35px;
    padding: 15px;
    margin-top: 5px;
}


.meTitle {
    margin-left: 12%;
    height: 350px;
    vertical-align: bottom;
    font-family: 'Cantarell', sans-serif;
    font-size: 6.65rem;
    font-weight: bold;
    padding: 15px;
    text-rendering: optimizeLegibility;
    color: #4caf50;
    text-shadow: 4px 16px 12px rgba(0, 0, 0, 0.5),
    0px -2px 35px rgba(0, 0, 0, 0.3);


}


.footer{
    width: 100%;
    height: 200px;
    -moz-box-shadow:  -0px 5px 12px 2px lightgray;
    -webkit-box-shadow:  -0px 5px 12px 2px lightgray;
    box-shadow: -0px 5px 12px 2px lightgray;
    display: inline-block;
    margin-top: 5px
}

.footerContent{
    width: 80%;
    margin: auto;
    padding: 125px 5px 5px 5px;
    text-align: center;
    vertical-align: bottom;

}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}



/*Headers*/


.pic-header {
    margin-top: 24%;
    height: 400px; /* height of the background image? */
    background:url("../img/MtnHeader.png") no-repeat center;
    background-blend-mode: multiply;
    background-size: cover;
    -moz-box-shadow:  -0px 5px 12px 2px lightgray;
    -webkit-box-shadow:  -0px 5px 12px 2px lightgray;
    box-shadow: -0px 5px 12px 2px lightgray;


}

.me-image {
    border-radius: 30%;
    margin: 25px;
    float: right;
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;}







.navlinks {
    padding: 2px 10px;
    font-family: 'Cantarell', serif;
    font-size: 2.25em;
    width: 100%;
    font-weight: bold;
    color: #FFCB47;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);

}

.about{

    box-sizing: border-box;
    font-family: Cantarell, sans-serif;
    float: left;
    border-radius: 3px;
    margin-bottom: 50px;
    font-size: 1.35em;
    padding: 15px;
    -moz-box-shadow:  -0px 5px 12px 2px lightgray;
    -webkit-box-shadow:  -0px 5px 12px 2px lightgray;
    box-shadow: -0px 5px 12px 2px lightgray;

}
.aboutSkills{
    display: inline-block;
    width: 55%;
    padding: 15px;
    margin-top: 1px;
    margin-bottom: 150px;
    font-family: 'Cantarell', serif;
    margin-left: 5px;
    float: left;
    height: 700px;

}

.aboutCerts {
    display: inline-block;
    width: 40%;
    padding: 15px;
    margin-top: 1px;
    margin-bottom: 150px;
    float: right;
    height: 700px;
    text-align: center;
    border-left: 1px solid #ccc;
}
.aboutRightt{
    width: 45%;
    padding: 15px;
    margin-top: 1px;
    margin-bottom: 50px;
}

.certImage {

}

/*Transitions Animations */
#slideRight{
    position: absolute;
    left: -1050px;
    -webkit-animation: slideRight 1.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slideRight 1.5s forwards;
    animation-delay: 0.5s;
}

#slideLeft {
    position: absolute;
    right: -550px;
    -webkit-animation: slideLeft 1.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slideLeft 1.5s forwards;
    animation-delay: 0.5s;

}




.container {
    width: 90%;
    background-color: #ddd;
    border-radius: 5px;
    text-align: left;
    margin-left: 5px;


}

.skills {
    text-align: right;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-family: Cantarell, sans-serif;
    font-size: 1.35em;


}

.html {width: 70%; background-color: #FFCB47;}
.css {width: 70%; background-color: #2196F3;}
.js {width: 15%; background-color: #f44336;}
.java {width: 45%; background-color: #808080;}
.sql {width: 15%; background-color: #4caf50;}

/* Floated Columns ------------------ */
.column {
    box-sizing: border-box;
    font-family: Cantarell, sans-serif;;
    float: left;
    width: 32%;
    text-align: center;
    padding: 2px;
    border-radius: 3px;
    height: 600px;
    margin-bottom: 150px;
    margin-top: 10px;

    margin-left: 12px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;

}

.column2 {
    box-sizing: border-box;
    font-family: Cantarell, sans-serif;;
    float: left;
    width: 24.2%;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    height: 600px;
    margin-bottom: 150px;
    margin-top: 10px;

    margin-left: 12px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;

}
.projects {
    box-sizing: border-box;
    font-family: Cantarell, sans-serif;
    float: left;
    border-radius: 3px;
    margin-bottom: 50px;
    font-size: 1.35em;
    padding: 15px;
    width: 100%;
    -moz-box-shadow:  -0px 5px 12px 2px lightgray;
    -webkit-box-shadow:  -0px 5px 12px 2px lightgray;
    box-shadow: -0px 5px 12px 2px lightgray;
}

.recentPosts{
    height: 700px;
    width: 100%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.vl {
    border-left: 3px solid#2196F3;
    height: 90px;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.vl2 {
    border-left: 3px solid #2196F3;
    height: 250px;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.arrow {
    margin-top: 200px;
    margin-left: 50%;
    margin-bottom: 0;


}

img {
    vertical-align: center;
    margin-top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes slideRight {
    100% { left: 0; }
}

@keyframes slideRight {
    100% { left: 0; }
}


@-webkit-keyframes slideLeft {
    100% { right: 0; }
}

@keyframes slideLeft {
    100% { right: 0; }
}


html,
body {
    font-family: Cantarell, sans-serif;

}
.social {
    top: 10px;
    font-size: 24px;
}
.social ul {
    display: inline-block;
    margin-top: 90px;
    padding: 1px;
    -webkit-transform: translate(-255px, 0);
    -moz-transform: translate(-255px, 0);
    -ms-transform: translate(-255px, 0);
    -o-transform: translate(-255px, 0);
    transform: translate(-255px, 0);

}

.social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 285px;
    text-align: right;
    padding: 5px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.social ul li:hover {
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    transform: translate(100px, 0);
    background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
    color: #000;
}
.social ul li:hover i {
    color: #fff;
    background: #FFCB47;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.social ul li i {
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}




