* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Cantarell", "Cantarell Thin", sans-serif;
}

img {
    vertical-align: center;
    margin-top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-indent: 40px;
    font-family: "Cantarell", sans-serif;
    text-align: justify;
    font-size: 1.15em;
    padding-left: 15px;
    padding-right: 15px;
}
a{
    color: #2196F3;

}
#image{
    width:50px;
    height:50px;
}

#image:hover{
    width:100px;
    height:100px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Style the navigation bar links */
.navbar {
    text-align: center;
}
.navbar a {
    text-align: center;
    padding: 1px 4px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #2196F3;
    text-shadow: 2px 2px 0 #001962; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */    }



.vl {
    border-right: 2px solid #2073c5;
    height: 10%;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.vl2 {
    border-left: 2px solid #2073c5;
    height: 10%;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.rowBack {
    -moz-box-shadow:  -0px 5px 12px 2px lightgray;
    -webkit-box-shadow:  -0px 5px 12px 2px lightgray;
    box-shadow: -0px 5px 12px 2px lightgray;
}

.rowNav {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Change color on hover */
.navbar a:hover {
    color: #8AA1B1;
    text-decoration: underline;
}

/* Active/current link */
.navbar a.active {
    color: #8AA1B1;
    text-decoration: underline;
}


/* Header/logo Title */
.header {
    height: 225px;
    background:url("../img/MtnHeader.png") no-repeat center;
    background-blend-mode: multiply;
    background-size: cover;
    -moz-box-shadow:  -0px 5px 12px 2px lightgray;
    -webkit-box-shadow:  -0px 5px 12px 2px lightgray;
    box-shadow: -0px 5px 12px 2px lightgray;
}

.social {
    top: 10px;
    font-size: 24px;
}
.social ul {
    display: inline-block;
    margin-top: 5px;
    padding: 1px;
    -webkit-transform: translate(-255px, 0);
    -moz-transform: translate(-255px, 0);
    -ms-transform: translate(-255px, 0);
    -o-transform: translate(-255px, 0);
    transform: translate(-255px, 0);

}

.social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 285px;
    text-align: right;
    padding: 5px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li:hover a {
    color: #2196F3;

}
.social ul li:hover i {
    color: #fff;
    background: #FFCB47;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.social ul li i {
    margin-left: 11px;
    color: #000;
    background: #fff;
    padding: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
/* Name Format */
.nameTitle {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-rendering: optimizeLegibility;
    color: #00c550;
    text-shadow: 1px 1px 0px white; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

/* Increase the font size of the heading */
.header h1 {
    font-size:64px;
    text-decoration: underline;
    font-family: 'Cantarell Thin', sans-serif;
    text-align: center;
}
/* My Photo */
.me-image{
    border-radius: 30%;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1.skillTitle {
    font-size: 3.75em;
    font-family:'Cantarell Thin', sans-serif;
    text-decoration: underline;
    text-align: center;
}
.skills {
    text-align: right;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-family: Cantarell, sans-serif;
    font-size: 1.35em;
}


.skillsHead {
    font-size:2.25em;
    font-family:'Cantarell', sans-serif;
    text-align: left;

}
.skillWrapper {
    margin-left: 7%;
    margin-bottom: 7%;
    margin-top: 160px;
}

.skill {
    margin-left: auto;
    margin-right: auto;
    float:left;
    height: 975px;
    display: inline-block;
}

/* Certification */
.certs {
    vertical-align: center;
    float:right;
    display: inline-block;
    height: 975px;
}

.certWrapper {
    margin-left: 7%;
    margin-bottom: 7%;
    margin-top: 160px;
}

.certImage {
    display: inline-block;
    padding: 15px;
    margin: 0;
    height: 37%;
    width: 37%;
}


.html {width: 70%; background-color: #FFCB47;}
.css {width: 70%; background-color: #2196F3;}
.js {width: 18%; background-color: #f44336;}
.java {width: 45%; background-color: #808080;}
.sql {width: 18%; background-color: #4caf50;}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .social ul {
        margin-top: 50px;
    }



    @media only screen and (min-width: 768px) {
        /* For desktop: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}

        .navbar {
            text-align: right;
        }

        .navbar a {
            padding: 2px 8px;
            text-decoration: none;
            font-size: 1.75em;
        }
        .me-image {
            float: right;
            margin-top: 3%;
            margin-left: 25px;
        }

        .vl {
            border-right: 3px solid #2073c5;
            height: 10%;
            left: 50%;
            margin-left: -3px;
            top: 0;
        }

        .vl2 {
            border-left: 3px solid #2073c5;
            height: 250px;
            left: 50%;
            margin-left: -3px;
            top: 0;
        }

        .nameTitle {
            margin-right: 8%;
            font-size: 5.5rem;
            font-weight: bold;
            text-align: center;
            text-rendering: optimizeLegibility;
            color: #00c550;
            text-shadow: 2px 2px 0px white; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */    }

        .header {
            height: 350px;
        }

        p {
            font-family: "Cantarell", sans-serif;
            font-size: 1.5em;
        }

        .me-image {
            float: right;
            margin-top: 3%;
            margin-left: 25px;
            border-radius: 30%;
            background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .social ul li:hover {
            -webkit-transform: translate(125px, 0);
            -moz-transform: translate(125px, 0);
            -ms-transform: translate(125px, 0);
            -o-transform: translate(125px, 0);
            transform: translate(125px, 0);
            background: rgba(0, 0, 0, 0.4);
        }

        .social ul {
            margin-top: 50px;

        }
        .certImage {
            height: 165px;
            width: 165px;
        }
    }
}